<div class="root-container">

  <div class="banner">
    <div class="right-align">
      <button mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </div>


  <mat-drawer-container >

    <mat-drawer #drawer mode="over" position="end">
      <!-- Side Menu Bar   -->
      <div class="menu">
        <button *ngIf="!isAuthenticated()" [routerLink]="['/log-in', 'false']">Log In</button>
        <button *ngIf="!isAuthenticated()" [routerLink]="'/register'"> Register </button>
        <button *ngIf="isAuthenticated()" (click)="logout()">Log Out</button>
        <div *ngIf="isAuthenticated()">
          <button (click)="selectPage(PageEnum.LANDING)">Home</button>
          <button (click)="selectPage(PageEnum.MY_TICKETS)">My Tickets</button>
<!--          My Account doesn't exist yet-->
<!--          <button (click)="selectPage(PageEnum.MY_ACCOUNT)">My MY_ACCOUNT</button>-->
        </div>
      </div>
    </mat-drawer>

    <!--Injected Components-->

    <app-landing *ngIf="checkPage(PageEnum.LANDING)"></app-landing>
    <app-my-tickets *ngIf="checkPage(PageEnum.MY_TICKETS)"></app-my-tickets>

<!--    My Account doesn't exist yet-->
<!--    <app-my-account *ngIf="pageCheck(PageEnum.MY_ACCOUNT)"></app-my-account>-->

  </mat-drawer-container>

</div>
