<div class="root-container">

  <div class="banner">
    <div class="right-align">
      <button mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </div>


  <mat-drawer-container >

    <mat-drawer #drawer mode="over" position="end">
      <!-- Side Menu Bar   -->
      <div class="menu">
        <button *ngIf="isAuthenticated()" (click)="logout()">Log Out</button>
        <button *ngIf="!isAuthenticated()" [routerLink]="['/log-in', 'false']">Log In</button>
      </div>
    </mat-drawer>

    <!--Injected Components-->
    <app-landing></app-landing>
<!--    <app-my-tickets></app-my-tickets>-->

  </mat-drawer-container>

</div>
