<div class="root-container">

  <div class="banner">
    <div class="right-align">
      <button mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </div>

  <mat-drawer-container >
    <mat-drawer #drawer mode="over" position="end">
      <!-- Side Menu Bar   -->
      <div class="menu">
        <div class="menu-sub" *ngIf="!isAuthenticated()">
          <button [routerLink]="['/log-in', 'false']">Log In</button>
          <button [routerLink]="'/register'"> Register </button>
        </div>
        <div class="menu-sub" *ngIf="isAuthenticated()">
          <button (click)="routeTo(PageEnum.LANDING)">Home</button>
          <button (click)="routeTo(PageEnum.MY_TICKETS)">My Tickets</button>
          <button (click)="routeTo(PageEnum.MY_ACCOUNT)">My Account</button>
          <button (click)="logout()">Log Out</button>
        </div>
      </div>
    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>

</div>
