@use '../../../../assets/style/colours';

.container {
  display: flex;
  justify-content: center;
  scrollbar-gutter: auto;
}

// Make element scrollable
.scroll-menu {
  white-space: nowrap;
  overflow-x: scroll;
  border-radius: 20px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
}

// Hide scroll bar for scroll-menu class
.scroll-menu::-webkit-scrollbar {
  display: none;
}

.nav-item {
  display: flex;
  flex-direction: column;
  padding: 12px 16px 13px;
  font-size: 14px;
  vertical-align: middle;

  cursor: pointer;
  &:hover {
    background-color: rgba(colours.$honeydew, 0.5);
  }

  // text under icon
  span {
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.nav-button {
  justify-content: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  &:hover {
    mat-icon {
      font-weight: bolder;
    }
  }
}


.card {
  width: 80%;
  height: 80%;

  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.3);
  background:linear-gradient(135deg, colours.$honeydew 55%, colours.$yellow 70%);
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: colours.$green;
  color: colours.$green;
  padding: 10px;

  cursor: pointer;
  &:hover {
    background:linear-gradient(135deg, colours.$white 55%, colours.$orange 70%);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.8);
    width: 82%;
    height: 82%;
  }
}

.horizontal-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 5px;
  color: colours.$green;

  // sub heading
  .sub {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
  }

  // text alignment
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

.icon {
  height: 75px;
}

.image-container {
  overflow: hidden;
  border-radius: 20px;
  height: 80%;
  img {
    height: 100%
  }
}

.image-container_phone{
  height: 70%;
}

