<div class="container">
  <div (click)="scrollLeft('sport')" class="nav-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>
  <div id="sport" class="scroll-menu">
      <div class="nav-item selectable" *ngFor="let sport of sports" (click)="selectSport(sport)">
        <img class="icon" src="{{ 'assets/icons/' + sport.icon + '.png'}}">
        <span>{{ sport.name }}</span>
      </div>
  </div>
  <div (click)="scrollRight('sport')" class="nav-button">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>


<!--<div class="container">-->
<!--  <div (click)="scrollLeft('dates')" class="nav-button">-->
<!--    <mat-icon>keyboard_arrow_left</mat-icon>-->
<!--  </div>-->
<!--  <div id="dates" class="scroll-menu">-->
<!--    <div class="nav-item selectable" *ngFor="let date of selectedSport.dates" >{{ date }}</div>-->
<!--  </div>-->
<!--  <div (click)="scrollRight('dates')" class="nav-button">-->
<!--    <mat-icon>keyboard_arrow_right</mat-icon>-->
<!--  </div>-->
<!--</div>-->


<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let event of selectedSport.events">
    <div class="card selectable">
      <div class="image-container">
        <img src="{{event.image}}">
      </div>
      <div class="horizontal-split">
        <div>
          {{ event.name }}
        </div>
        <div>
          {{ event.gender }}
        </div>
      </div>
      <div class="horizontal-split">
        <div>
          {{ event.date.toLocaleDateString() }}
        </div>
        <div>
          {{ event.venue }}
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
