<div class="container">
  <div (click)="scrollLeft('sport')" class="nav-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>
  <div id="sport" class="scroll-menu">
      <div class="nav-item selectable" *ngFor="let sport of sports" (click)="selectSport(sport)">
        <img class="icon" src="{{ 'assets/icons/' + sport.icon + '.png'}}" alt="">
        <span>{{ sport.name }}</span>
      </div>
  </div>
  <div (click)="scrollRight('sport')" class="nav-button">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>

<mat-grid-list cols="{{ getCols() }}" rowHeight="1:1">
  <mat-grid-tile *ngFor="let event of events">
    <div class="card selectable" (click)="openEventDetails(event.id)">
      <div class="horizontal-align">
        <div class="vertical-align title">
          <div class="left">
            {{ event.name }}
          </div>
          <div class="sub left">
            {{ getGender(event) }}
          </div>
        </div>
        <div class="title right">
          <div class="right">
            {{ getStartDate(event) }}
          </div>
          <div class="sub right">
            {{ getStartTime(event) }} - {{ event.venue.name }}
          </div>
        </div>
      </div>
      <div class="image-container" [ngClass]="{'image-container_phone': responsive.isPhone()}">
        <img src="{{event.imageURL}}">
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
