// Make element scrollable
.scroll-menu {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-radius: 20px;
  background: #7ec0ff;
  max-width: 80%;
}

.container {
  display: flex;
  justify-content: center;
}

.scroll-menu::-webkit-scrollbar {
  display: none;
}
// Nav items
.nav-item {
  padding: 12px 16px 13px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  &:not(:last-child) {
    border-right: 1px solid rgba(#727c87, .2);
  }
}

nav {
}

body {
  font-family: 'Poppins',sans-serif;
  max-width: 360px;
  margin: 10vmin auto 0;
  color: #64cce3;
  line-height: 1.5;
}


// remove the scroll bar

