
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  min-height: 20%;
  width: 100%;
  padding: 20px;
}
.fakeimg {
  width: 100%;
  padding: 20px;
}

.menu {
  display: none;
}
.mycustom_class.w3-animate-left {
  animation: 9s ease 0s normal none 1 running animateleft;
}
.mycustom_class.w3-animate-right {
  animation: 9s ease 0s normal none 1 running animateright;
}
