
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}
html{
  height: 3000px;
  background: linear-gradient(141deg, white 0%, #F1E3A4 51%, beige 75%);
}

.bgimg {
  background-position: center;
  min-height: 20%;
  width: 100%;
  padding: 20px;
}
.fakeimg {
  width: 100%;
  padding: 20px;
}

.menu {
  display: none;
}
.mycustom_class.w3-animate-left {
  animation: 9s ease 0s normal none 1 running animateleft;
}
.mycustom_class.w3-animate-right {
  animation: 9s ease 0s normal none 1 running animateright;
}
.mycustom_class.w3-animate-top {
  animation: 15s ease 0s normal none 1 running animatetop;
}
.mycustom_class.w3-animate-fading{
  animation: 1 running animatefading;
}

.w3-container {
  height: 3000px;
  background: linear-gradient(141deg, white 0%, #F1E3A4 51%, beige 75%);
}
