<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black centered">
    <div class="w3-col s3">
      <a href="/home" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/register" class="w3-button w3-block w3-black">SIGN UP</a>
    </div>
    <div class="w3-col s3">
      <a href="log-in/false" class="w3-button w3-block w3-black">SIGN IN</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min mycustom_class animTest w3-animate-fading" id="home">
  <div class="w3-display-middle w3-top-center">
    <img class="w3-center mycustom_class animTest w3-animate-top" src="assets/icons/olympicringstrans.png" width="750" height="400">
  </div>
  <video loop class="fakeimg" controls oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets/icons/brisbanevideo.mp4" type="video/mp4" >
  </video>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white mycustom_class animTest w3-animate-left" style="font-size:90px">BRISBANE</span> <br>
    <span class="w3-text-white mycustom_class animTest w3-animate-right" style="font-size:90px">2032</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

  <!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE GAMES</span></h5>
      <p>Brisbane and Queensland are ready to welcome the world in 2032.

        Australia has a love affair with the Olympic Games, reflected in the fact that we have sent athletes to every modern Olympic Games. Now we have Australia’s third opportunity to host the world’s greatest sporting event and we intend to build on the innovation and successes of Sydney 2000 and Melbourne 1956.</p>
      <p>What really excites Australians is the opportunity for our children, for sport, and of course to show off our beautiful country. Fans can expect unbeatable sports experiences in 37 world-class venues, set against a backdrop of iconic beachfronts, breath-taking rural hinterland and exciting cities rich in culture and entertainment. </p>
      <div class="w3-panel w3-leftbar w3-light-grey">
        <img src="/assets/icons/olympicstatue.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
      </div>
    </div>
  </div>

  <!-- Contact/Area Container -->
  <div class="w3-container" id="new" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">UPCOMING EVENTS</span></h5>
      <p>Explore some upcoming events you don't want to miss!</p>
      <div class="test">
        <img src="/assets/icons/brisbane.jpg" class="w3-image" style="width:100%">
      </div>
      <br>
      <br>
      <div class="test1">
        <img src="/assets/icons/brisbane.jpg" class="w3-image" style="width:100%">
      </div>
    </div>
  </div>


  <!-- Highlights/Area Container -->
  <div class="w3-container" id="where" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">HIGHLIGHTS</span></h5>
      <p>Brisbane and Queensland are ready to welcome the world in 2032.
        Australia has a love affair with the Olympic Games, reflected in the fact that we have sent athletes to every modern Olympic Games. Now we have Australia’s third opportunity to host the world’s greatest sporting event and we intend to build on the innovation and successes of Sydney 2000 and Melbourne 1956.</p>
      <p>What really excites Australians is the opportunity for our children, for sport, and of course to show off our beautiful country. Fans can expect unbeatable sports experiences in 37 world-class venues, set against a backdrop of iconic beachfronts, breath-taking rural hinterland and exciting cities rich in culture and entertainment. </p>
    </div>
  </div>

  <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by GOLDPASS</p>
</footer>
