@use "../../../../assets/styles/colours";

/* Apply basic styling to the container */
.venue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* Style the venue information section on the top left */
.venue-info {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.directions-button {
  margin: 10px;
  padding: 7px 12px 7px 12px;
  background-color: colours.$green;
  color: #ffffff;
  font-weight: 600;
  border-radius: 3px; /* Adding a small border radius for rounded corners */
  text-align: center; /* Center the text horizontally */
  transition: background-color 0.3s, transform 0.2s; /* Add transition effects for smooth hover */
  cursor: pointer; /* Change the cursor on hover to indicate it's clickable */

  /* Add a subtle box shadow for depth and hover effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* Apply a gradient background on hover to make it pop */
  &:hover {
    //background: linear-gradient(to bottom, #2ecc71, #27ae60);
    background-color: colours.$lighter-green;
    transform: scale(1.05); /* Slightly scale up the button on hover */
  }

  /* Remove underlines from anchor tags if nested inside the button */
  a {
    text-decoration: none;
  }
}

/* Style the directions link section on the top right */
.venue-directions {
  align-self: flex-end;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
}

.image-gallery-phone {
  width: 350px;
  height: 600px;
}

.gallery-container {
  position: relative;
  width: 100%; /* Set the container width */
  height: 100%; /* Set the container height */
}

.image-slide {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}

.image-frame {
  height: 100%; /* Set the frame height */
  width: 100%; /* Set the frame width */
  overflow: hidden;
  position: relative;
}

img {
  height: 100%; /* Set the image height to fill the frame */
  width: 100%; /* Set the image width to fill the frame */
  object-fit: cover; /* Maintain aspect ratio and cover the entire frame */
  transition: transform 0.5s;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 2;
  color: white;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-phone {
  top: 17%;
  width: 35px;
  height: 35px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}
