<div class="venue-container" *ngIf="venueDetails">
  <div class="venue-info">
    <h2>Venue Information</h2>
    <p>Name: {{ venueDetails.name }}</p>
    <p>Capacity: {{ venueDetails.capacity}}</p>
    <p>Location: {{ venueDetails.location }}</p>
    <div>
      <button class="directions-button" (click)="openMapsPopup()">Get Directions</button>
    </div>
  </div>
  <div class="image-gallery" [ngClass]="{'image-gallery-phone' : responsive.isPhone()}">
    <div class="gallery-container">
      <div class="arrow left-arrow" [ngClass]="{'arrow-phone' : responsive.isPhone()}" (click)="scroll(-1)">&lt;</div>
      <div class="image-frame">
        <div class="image-slide" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
          <img *ngFor="let imageURL of imageUrls; let i = index" [src]="imageURL" [style.left]="i * 100 + '%'" alt="Image" />
        </div>
      </div>
      <div class="arrow right-arrow" [ngClass]="{'arrow-phone' : responsive.isPhone()}" (click)="scroll(1)">&gt;</div>
    </div>
  </div>
</div>
