<div class="venue-container">
  <div class="venue-info">
    <h2>Venue Information</h2>
    <p>Name: {{ venueDetails.name }}</p> <!-- Replace 'Suncorp Stadium' with 'venueDetails.name' -->
    <p>Capacity: {{ venueDetails.capacity}}</p> <!-- Replace 'Milton, Brisbane' with 'venueDetails.location' -->
    <p>Location: {{ venueDetails.location }}</p> <!-- Replace 'Milton, Brisbane' with 'venueDetails.location' -->
    <div class="venue-directions">
      <button mat-raised-button (click)="openMapsPopup()">Get Directions</button>
    </div>
  </div>

  <div class="venue-image">
    <img [src]="place_holder_image" alt="Venue Image">
  </div>
</div>
