.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-container {
  overflow: hidden;
  border-radius: 20px;
  height: 60%;
  img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
}

.image-container_phone{
  height: 60%;
}
