<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="ticket-details.component.scss">
  <title>My Tickets</title>
</head>

<header class = "page-heading">
  <button class="nav-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</header>

<body>
  <div class = "countdown-container">
    <div class = "countdown-elements">
      <div class = "countdown-element">
        {{ this.countdownTime.at(0) }} years
      </div>
      <div class = "countdown-element">
        {{ this.countdownTime.at(1) }} months
      </div>
      <div class = "countdown-element">
        {{ this.countdownTime.at(2) }} days
      </div>
    </div>
    ...until your event!
  </div>
  <div class = "ticket-container">
    <div class="ticket">

      <div class = "ticket-summary">
        <div class = "icon-half">
          <img class = "icon" src="https://www.freeiconspng.com/thumbs/swimming-icon-png/sports-swimming-icon-png-1.png" alt = "swimming icon">
        </div>
        <div class = "year-half">
          <div class = "year-half-text">
            Brisbane
            <br>2032
          </div>
        </div>
      </div>

      <div class = "ticket-contents">
        <div class = "admission">
          <div class = "admission-type">
            GEN-AD
          </div>
          <div class = "seat">
            Seat: {{ this.ticket.seatNumber}}
          </div>
        </div>
        <div class = "event">
          {{ this.ticket.event}}
        </div>
        <div class = "location">
          {{ this.ticket.venue}}
        </div>
        <div class = "time">
          {{ this.ticket.date.toLocaleTimeString()}}
        </div>
        <div class = "date">
          {{ this.ticket.date.getDate()}}/{{ this.ticket.date.getMonth() + 1}}/{{ this.ticket.date.getFullYear()}}
        </div>
      </div>

      <div class = "qr-code">
        <img class="barcode" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/UPC-A-036000291452.png" [ngClass]="{barcode_phone: responsive.isPhone(), barcode_web: !responsive.isPhone()}" alt="Ticket Barcode">
      </div>

    </div>
  </div>
</body>
</html>
