<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="ticket-details.component.scss">
  <title>My Tickets</title>
</head>

<header class = "page-heading">
  <button class="nav-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <h2>My Tickets</h2>
  </button>
</header>

<body>
  <div class = "countdown-container">
    <div class = "countdown-elements">
      <div class = "countdown-element">
        {{ this.countdownTime.at(0) }} years
      </div>
      <div class = "countdown-element">
        {{ this.countdownTime.at(1) }} months
      </div>
      <div class = "countdown-element">
        {{ this.countdownTime.at(2) }} days
      </div>
    </div>
    ...until your next event!
  </div>
  <div class = "ticket">
    <div class = "ticket-barcode">
      <img class="barcode" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/UPC-A-036000291452.png" [ngClass]="{barcode_phone: responsive.isPhone(), barcode_web: !responsive.isPhone()}" alt="Ticket Barcode">
    </div>
    <div class = "ticket-contents">
      <br> event: {{ this.ticket.event}}
      <br> seatNumber: {{ this.ticket.seatNumber}}
      <br> venue: {{ this.ticket.venue}}
      <br> year: {{ this.ticket.date.getFullYear()}}
      <br> month: {{ this.ticket.date.getMonth() + 1}}
      <br> day: {{ this.ticket.date.getDate()}}
      <br> time: {{ this.ticket.date.toLocaleTimeString()}}
    </div>
  </div>
</body>
</html>
