
<div class="root-container image" [ngClass]="{image_phone: responsive.isPhone(), image_web: !responsive.isPhone()}">
    <div class="card">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Welcome to Olympic Engaged Events</h1>
        <div class="warning">
          <p *ngIf="loggedOut">You have been logged out.</p>
          <p *ngIf="failed">Login failed. Please try again.</p>
        </div>
        <div class="formInput">
          <label>Username</label>
          <input type="text" formControlName="username">
        </div>
        <div class="formInput">
          <label>Password</label>
          <input
            type="password"
            formControlName="password"
            (input)="maskPassword($event)"
          >
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
      <div>
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
      </div>
    </div>
</div>
