
<div class="header">

  <!-- <div class="headerimage">-->
  <video loop class="video" controls autoplay >
    <h1>hello</h1>
    <source src="assets/icons/brisbanevideo.mp4" type="video/mp4">
  </video>
  <!--</div>-->
</div>

<div class="navbar">
  <a href="#">SIGN IN</a>
  <a href="#">RESGITER</a>
  <a href="#" class="right">Link</a>
</div>
<div class="row">
  <div class="side">
    <h2>ANNOUNCEMENTS</h2>
    <h5>100M RELAYS</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Explore culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <img class="fakeimg" src="assets/icons/brisbane.jpg">
  </div>
  <div class="main">
    <h2>What is the Olympics?</h2>
    <h5>Title description, Dec 7, 2023</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p> Games
      Brisbane and Queensland are ready to welcome the world in 2032.

      Australia has a love affair with the Olympic Games, reflected in the fact that we have sent athletes to every modern Olympic Games. Now we have Australia’s third opportunity to host the world’s greatest sporting event and we intend to build on the innovation and successes of Sydney 2000 and Melbourne 1956.
      <br>
      What really excites Australians is the opportunity for our children, for sport, and of course to show off our beautiful country. Fans can expect unbeatable sports experiences in 37 world-class venues, set against a backdrop of iconic beachfronts, breath-taking rural hinterland and exciting cities rich in culture and entertainment. </p>
    <br>
    And Australia has a decade of major international sporting events coming here in the lead-up to the Brisbane 2032 Olympic and Paralympic Games. Whether it’s the FIBA Women’s World Cup in basketball (2022), UCI Road World Championships in cycling (2022) or the FIFA Women’s World Cup in football in 2023, Australia knows how to put on a great show in a way that puts athletes first and gives fans the experience of a lifetime.
    <h2>Upcoming Events</h2>
    <h5>Title description, Sep 2, 2023</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

