/* maps.component.css */

.maps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.iframe-el {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 600px; /* Adjust the initial map height as needed */
  border: 1px solid #ccc; /* Add a border for clarity */
}

/* Style the close button */
button {
  margin-top: 10px; /* Adjust the spacing between the map and the button */
}
