
<div class="root-container image" [ngClass]="{image_phone: responsive.isPhone(), image_web: !responsive.isPhone()}">
  <div class="card">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h1>Register</h1>
      <div class="formInput">
        <label>Username</label>
        <input type="text" formControlName="username">
      </div>
      <div class="formInput">
        <label>Name</label>
        <input type="text" formControlName="name">
      </div>
      <div class="formInput">
        <label>Email</label>
        <input type="text" formControlName="email">
      </div>
      <div class="formInput">
        <label>Password</label>
        <input type="text" formControlName="password">
      </div>
      <div class="formInput">
        <label>Confirm Password</label>
        <input type="text" formControlName="confirmPassword">
      </div>
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
    <div>
        <p> Already have an account? <a routerLink="/log-in/false">Login</a></p>
    </div>
  </div>
</div>
